fastapi
uvicorn[standard]
pydantic
jinja2
python-multipart
networkx
matplotlib
numpy
pandas
scikit-learn


io, base64
typing
scipy
cvxpy
fast_tmfg
Graph_Theory_Functions
Dual
os
time
itertools 
Charts
random
ta
ML_Analysis
Database
TMFG_Analysis